{% extends "base.html" %}
{% block content %}

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">SmartAI</h2>

        <nav>
            <a href="#">📄 My Resumes</a>
            <a href="#">💼 Job Matches</a>
            <a href="#">📊 Skill Analysis</a>
            <a href="#">⚙ Settings</a>
            <a href="{%url 'logout'%}">Logout</a>
        </nav>
    </aside>

    <!-- Main -->
    <main class="main">

        <!-- Topbar -->
        <header class="topbar">
            <input type="text" placeholder="Search jobs, skills...">
            <div class="user">Welcome, {{ request.user.username }}</div>
        </header>

        <!-- Upload Resume Button -->
            <div class="upload-section">
                <a href="{% url 'file_upload' %}" class="upload-btn">
                    + Upload New Resume
                </a>
            </div>

        <!-- Content -->
        <section class="content">

            <h1>Dashboard Overview</h1>

            <div class="cards">

                <div class="card highlight">
                    <h3>Resume Score</h3>
                    <p class="big">78%</p>
                    <span>Based on last upload</span>
                </div>

                <div class="card">
                    <h3>Job Matches</h3>
                    <p class="big">12</p>
                    <span>New matching jobs</span>
                </div>

                <div class="card">
                    <h3>Skill Gaps</h3>
                    <p class="big">5</p>
                    <span>Skills to improve</span>
                </div>

                <div class="card">
                    <h3>Applications</h3>
                    <p class="big">3</p>
                    <span>Submitted recently</span>
                </div>

            </div>

            

        </section>

    </main>

</div>

{% endblock %}