{% extends "base.html" %}
{% block content %}

<div class="upload-wrapper">

    <div class="upload-card">
        <h1>Upload Your Resume</h1>
        <p>Upload your PDF resume and get instant AI analysis.</p>

        <form method="POST" action="{% url 'file_upload' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="file-drop-area">
                <input type="file" name="file_upload" accept=".pdf" required>
                <span class="upload-text">
                    Drag & Drop your PDF here <br> or <strong>Click to Browse</strong>
                </span>
            </div>

            <button type="submit" class="upload-btn">
                Analyze Resume
            </button>
        </form>

    </div>

</div>

{% endblock %}