{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Placement System</title>
    {% comment %} <link rel="stylesheet" href="css/style.css"> {% endcomment %}
</head>
<body>

<header>
    <h1>Smart Placement & Resume Intelligence</h1>
    <nav>
        <a href={%url 'login'%}>Login</a>
        <a href={%url 'register'%}>Register</a>
        <a href={%url 'dashboard'%}> Dashboard</a>
    </nav>
</header>

<section class="hero">
    <h2>Boost Your Placement Chances with AI</h2>
    <p>Upload Resume • Match Jobs • Find Skill Gaps</p>
    <a href=={%url 'register'%} class="btn">Get Started</a>
</section>

<footer>
    <p>© 2026 Smart Placement System</p>
</footer>

</body>
</html>


{% endblock%}