{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">        
<head>
    <meta charset="UTF-8">
    <title>Register - Smart Placement System</title>
    <!--<link rel="stylesheet" href="css/style.css"> -->
</head>
<body id="body">
<header>
    <h1>Smart Placement & Resume Intelligence</h1>
    <nav>
        <a href={%url 'login'%}>Login</a>
        <a href={%url 'register'%}>Register</a>
        <a href={%url 'dashboard'%}> Dashboard</a>
    </nav>
</header>
<section class="register">
    <div id="ndiv">
        <h2>Create Your Account</h2>
    </div>
    <form method="post" action={% url 'register'%} class="form-container">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_Password"> Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">Register</button>

        {% if error %}
        <p style="color:red;"> {{error}} </p>
        {%endif%}   

        {% if bothtaken %}

       <h4 style="color:red; text-align:center;"> {{bothtaken}} </h4>
    
        {% endif %}

        {% if usertaken  %}

        <h4 style="color:red; text-align:center;">{{usertaken}} </h4>

        {%endif%}

        {% if emailtaken  %}

        <h4 style="color:red; text-align:center;">{{emailtaken}}</h4>


        {%endif%}

    </form>
    <div>
    
    </div>

</section>
<footer>
    <p>© 2026 Smart Placement System</p>
</footer>
</body>
</html>

 <style>
    #ndiv{
        background-color:white;
        padding:flex;
        text-align:center;
        height: 50px;  

        
    }
    #body {
        background-color:black;
    }
    
    {% comment %} .register {
        background-color:grey;
        margin-top:30px;
        margin-left:450px;
        margin-right:450px;
        border-radius:20px;
        padding:10px;
        background-color:; {% endcomment %}
    

    p {
        text-align:center;
    }
</style>


{% endblock %}

